/*
 * Bartik floats taxonomy terms.
 * In the header, with field grouping the float must be cleared.
*/
.ui-accordion h3.ui-accordion-header {
  overflow: hidden;
}

/*
 * Fix issues with anchor tags for rdf in field items within the headers
 */
.ui-accordion .ui-accordion-header .field-items a {
  padding: 0 0.5em 1em 1.9em;
}

/* Vanilla by default */
.views-view-accordion .ui-state-default {
  background-color: transparent;
  color: #000;
}

.views-view-accordion .ui-state-active a, .views-view-accordion .ui-state-active a:link {
  color: #000;
  font-weight: bold;
}